.homepage-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    padding: 15px 250px;
    border-bottom: lightgray 1px solid;
}

.homepage-body {

}

.homepage-content {
    border: 1px solid lightgray;
    width: 50%;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    padding: 50px;
}

.homepage-input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 18px;
    display: flex;
    color: black;
    margin-bottom: 13px;
}

.homepage-label {
    margin:0;
    font-size: 14px;
    color: darkgrey;
}

.photo-input {
    color: darkgrey;
}

.homepage-label:first-of-type {
    margin-top: 20px;
}

.homepage-generate-button {
    border-radius: 20px;
    width: 40%;
    height: 40%;
    font-size: 24px;
    border: none;
    color: white;
    margin-top: 130px;
    background-color: #ffc156;
    padding: 6% 3%;
    transition: all 0.2s ease-in-out;
}

.homepage-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-generate-button:hover {
    background-color: #fca400;
}

.homepage-notification {
    background-color: #74e774;
    border: #2dd73c 1px solid;
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.homepage-error {
    background-color: #e86782;
    border: #e8023f 1px solid;
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
